fieldset {
  padding-bottom: 1em;
  &:last-child {
    padding-bottom: 0;
  }
}

input, label {
  cursor: pointer;
}

label + input {
  margin-left: 1em;
}

button, input {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  font-size: .8em; line-height: 1;
  border-radius: 3px;
}

input {
  width: 100%;
  max-width: 200px;
  margin-right: 1em;
  border: 1px solid #ccc;
}

button {
  background-color: $grey--darker;
  color: #eee;
  border: 0;
}