body {
  font-family: $helvNeue;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 0 0 1em .1em;
  margin-bottom: 4em;
  border-bottom: 1px solid #ccc;
}

.app {
  width: 80%;
  margin: 0 auto;
  padding-top: 5em;
  transition: all .3s ease-out;
}