body {
  font-family: $helvNeue;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 0 0 1.5em .1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.app {
  width: 80%;
  margin: 0 auto;
  padding-top: 5em;
  transition: all .3s ease-out;
}

.none {
  display: none;
}

.btn-separator {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
