extends partials/layout

block head
  title Hull - Dashboard

block content
  

  //- Content
  .app
    h1 Hull Dashboard

    section.init-section.js-init-section
      h2.js-init-title Init Hull
      form.js-init-form
        fieldset
          input#init-appid.js-init-appid(type="text", placeholder="App ID", value="540587fddd2ca9fb3c000bf3")
          input#init-orgurl.js-init-orgurl(type="text", placeholder="Org URL", value="https://835b18df.hullapp.io")
        fieldset
          button.btn.js-init Init Hull app

    section.settings-section.js-settings-section.none
      h2 Settings
      form.js-settings-form
        .form-elements-container.js-settings-container
        fieldset.form-button-container
          button(type="button").btn.js-settings-create Create new setting
        fieldset
          button.btn Save settings


