extends partials/layout

block head
  title Hull - Dashboard

block content
  

  //- Content
  .app
    h1 Hull Dashboard
    section.hull-init-section.js-hull-init-section
      form.js-hull-init
        h2 Init Hull
        fieldset
          input#hull-init-appid.js-hull-init-appid(type="text", placeholder="App ID", value="540587fddd2ca9fb3c000bf3")
          input#hull-init-orgurl.js-hull-init-orgurl(type="text", placeholder="Org URL", value="https://835b18df.hullapp.io")
          button.btn.js-init-hull Init Hull app
