extends partials/layout

block head
  title Hull - Dashboard

block content
  .app
    h1.main-title Hull Dashboard
    include partials/init-section
    include partials/settings-section
    include partials/participate-section

block scripts
  script(src="js/app.js")