section.settings-section.js-settings-section.none
  .grid-el.grid--half
    h2 Settings - All
    form.js-settings-form
      .form-elements-container.js-settings-container(data-pattern="null")
      fieldset.form-button-container
        button(type="button").btn.js-setting-create Create setting
        span.btn-separator or
        button(type="submit").btn.js-settings-save Save settings

  .grid-el.grid--half
    h2 Settings - Pattern: sampler-test-
    form.js-settings-form
      .form-elements-container.js-settings-container(data-pattern="sampler-test-")
      fieldset.form-button-container
        button(type="button").btn.js-setting-create Create setting
        span.btn-separator or
        button(type="submit").btn.js-settings-save Save settings