section.settings-section.js-settings-section
  h2 Settings - Back office
  form.js-settings-form
    .form-elements-container.js-settings-container
    fieldset.form-button-container
      button(type="button").btn.js-settings-create Create setting
      span.btn-separator or
      button(type="submit").btn.js-settings-save Save settings