doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/app.css")
    block head

  body
    include mixins
    block content

    script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js")
    script(src="https://d3f5pyioow99x0.cloudfront.net/0.8/hull.api.js")
    block scripts
